{% load static %}
{% load fontawesome_5 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'main/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'main/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'main/bootstrap/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'main/icons/css/all.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ralph CMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Аккаунт
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            <span class="dropdown-item disabled">{% fa5_icon 'user-crown' 'fal' %} {{ user.username }}</span>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item">{% fa5_icon 'sign-out' 'fal' %} Выйти</a>
                        {% else %}
                            <span class="dropdown-item disabled">{% fa5_icon 'user-crown' 'fal' %} Не авторизован</span>
                            <a href="{% url 'login' %}" class="dropdown-item">{% fa5_icon 'sign-out' 'fal' %} Войти</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
