{% extends 'main/base.html' %}
{% load fontawesome_5 %}

{% block title %}Группы{% endblock %}

{% block content %}
    <div class="container-fluid m-5">
        <h1 class="text-center">Список доступных групп</h1>
    </div>
    {% if success_login %}
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Авторизация успешна!</strong> Добро пожаловать, {{ user.username }}!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
    <div class="container my-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Группы</li>
          </ol>
        </nav>
    </div>
    <div class="container">
        <table class="table">
            <tr class="thead-dark">
                <th>Номер группы</th>
                <th>Специальность</th>
                <th></th>
            </tr>
            {% for group in groups %}
                    <tr>
                        <td>{{ group.group_num }}</td>
                        <td>{{ group.group_descriptor }}</td>
                        <td><a href="{% url 'group' group=group.group_num %}" class="btn btn-secondary">{% fa5_icon 'chevron-right' 'fas' %}</a></td>
                    </tr>
            {% endfor %}
    </table>
        <a href="{% url 'create_group' %}" class="btn btn-primary">{% fa5_icon 'user-friends' 'fas' %} Добавить группу</a>
    </div>
{% endblock %}