{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load fontawesome_5 %}

{% block title %}Редактирование студента{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h1>Уточнение студента</h1>
    </div>
    <div class="container my-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Группы</a></li>
              <li class="breadcrumb-item"><a href="{% url 'group' group=group %}">Группа {{ group }}</a></li>
              <li class="breadcrumb-item"><a href="{% url 'student' group=group student_id=student.user_id %}">{{ student.first_name }} {{ student.second_name }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Уточнение</li>
          </ol>
        </nav>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% for field in info_form.visible_fields %}
            <div class="form-group">
                {{ field | as_crispy_field }}
            </div>
            {% endfor %}
            {% for field in vk_form.visible_fields %}
            <div class="form-group">
                {{ field | as_crispy_field }}
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">{% fa5_icon 'pen' 'fal' %} Уточнить</button>
        </form>
    </div>
{% endblock %}
